<nav>
    <ul>
        <% if (locals.name) { %>
            <li>Olá, <%= name %></li>
        <% } else { %>
            <li>ENTRAR</li>
        <% } %>

        <a href="/"><li>HOME</li></a>
        <a href="/users"><li>LISTAGEM</li></a>
        <a href="/users/add"><li>INSERIR</li></a>

    </ul>
</nav>