

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container">
  
    <%- include('./includes/navbar') %>
    
    <main>
        <h1>LISTAGEM - <%= users.length %></h1>
       
        <ul class="user-list">
        <% for (let i = 0; i < users.length; i++) { %>
            <%- include('./includes/user/show', { user: users[i] })%>
        <% } %> 
        </ul>
    </main>
    </div>
</body>

</html>